<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Aggiornamento Atleta</title>
    <!-- Aggiungi qui i tuoi stili CSS -->
  </head>

  <body>
    <div class="container">
      <h2>Aggiornamento Atleta</h2>

      <div class="card">
        <div class="card-body">
          <div class="form-group">
            <label for="nome">Nome</label>
            <input
              type="text"
              class="form-control"
              id="nome"
              [(ngModel)]="nomeUpdateInput"
              name="nome"
            />
          </div>

          <div class="form-group">
            <label for="cognome">Cognome</label>
            <input
              type="text"
              class="form-control"
              id="cognome"
              [(ngModel)]="cognomeUpdateInput"
              name="cognome"
            />
          </div>

          <div class="form-group">
            <label for="inAttivita">In Attività</label>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="inAttivita"
                id="siRadio"
                [value]="true"
                [(ngModel)]="inAttivitaInput"
                [checked]="inAttivitaInput === true"
              />
              <label class="form-check-label" for="siRadio">Si</label>
            </div>
            <div class="form-check">
              <input
                class="form-check-input"
                type="radio"
                name="inAttivita"
                id="noRadio"
                [value]="false"
                [(ngModel)]="inAttivitaInput"
                [checked]="inAttivitaInput === false"
              />
              <label class="form-check-label" for="noRadio">No</label>
            </div>
          </div>

          <div class="form-group">
            <label for="dataUltimaGara">Data Ultima Gara</label>
            <input
              type="date"
              class="form-control"
              id="dataUltimaGara"
              [(ngModel)]="dataUltimaGara"
              name="dataUltimaGara"
            />
          </div>

          <div class="form-group">
            <label for="numeroMedaglieVinte">Numero Medaglie Vinte</label>
            <input
              type="number"
              class="form-control"
              id="numeroMedaglieVinte"
              [(ngModel)]="numeroMedaglieVinte"
              name="numeroMedaglieVinte"
            />
          </div>

          <button class="btn btn-primary" (click)="onSave()">Aggiorna</button>
          <button class="btn btn-primary" (click)="onBack()">
            Torna alla lista
          </button>
        </div>
      </div>
    </div>

    <!-- Includi qui i tuoi script JavaScript -->
  </body>
</html>
